.container{
  width: 70%;
  margin: 50px 460px;
}

.input{
  font-size: 25px;
  width: 40%;
}

.suggestion{
  font-size: 22px;
  width: 40%;
}

.suggestion:hover{
  background-color: white;
  color: black;
}

body {
  color:black;
  background-color:white;
  background-image:url(background.png);
  }

.body {
  @media screen and (max-width: 900px){
    width: 500px;
    }
  }

.container {
  @media screen and (max-width: 900px){
    width: 500px;
    }
  }

.input {
  @media screen and (max-width: 900px){
    width: 500px;
    }
  }

.suggestion {
  @media screen and (max-width: 900px){
    width: 500px;
    }
  }

.suggestion:hover {
  @media screen and (max-width: 900px){
    width: 500px;
    }
  }





  body {
    @media screen and (max-width: 900px){
      width: 500px;
      }
    }
  
  container {
    @media screen and (max-width: 900px){
      width: 500px;
      }
    }
  
  input {
    @media screen and (max-width: 900px){
      width: 500px;
      }
    }
  
  suggestion {
    @media screen and (max-width: 900px){
      width: 500px;
      }
    }
  
  suggestion:hover {
    @media screen and (max-width: 900px){
      width: 500px;
      }
    }

  .logoenentete{
    margin: auto;
    }

  @media print {
    body {
      color: yellow;
    }
  }

  @media screen and (max-width:500px) {
    body {
      color: yellow;
    }
  }