.container{
  width: 70%;
  margin: 50px 460px;
}

.input{
  font-size: 25px;
  width: 40%;
}

.suggestion{
  font-size: 22px;
  width: 40%;
}

.suggestion:hover{
  background-color: white;
  color: black;
}

body {
  color:black;
  background-color:white;
  background-image:url(background.png);
  }

.body {
  @media screen and (max-width: 900px){
    width: 500px;
    }
  }

.container {
  @media screen and (max-width: 900px){
    width: 500px;
    }
  }

.input {
  @media screen and (max-width: 900px){
    width: 500px;
    }
  }

.suggestion {
  @media screen and (max-width: 900px){
    width: 500px;
    }
  }

.suggestion:hover {
  @media screen and (max-width: 900px){
    width: 500px;
    }
  }





  body {
    @media screen and (max-width: 900px){
      width: 500px;
      }
    }
  
  container {
    @media screen and (max-width: 900px){
      width: 500px;
      }
    }
  
  input {
    @media screen and (max-width: 900px){
      width: 500px;
      }
    }
  
  suggestion {
    @media screen and (max-width: 900px){
      width: 500px;
      }
    }
  
  suggestion:hover {
    @media screen and (max-width: 900px){
      width: 500px;
      }
    }

  .body {
    height: auto;
    width: 70%;
    max-width: 1000px;
    min-width: 500px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }

  .container {
    height: auto;
    width: 70%;
    max-width: 1000px;
    min-width: 500px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }

  .header {
    height: auto;
    width: 70%;
    max-width: 1000px;
    min-width: 500px;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
  }
  